<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "MenuMapper">
    <!-- <resultMap id = "menuResultMap" type = "com.ohgiraffers.section01.xmlconfig.MenuDTO"> --> <!-- 풀클래스명 작성 -->
    <resultMap id = "menuResultMap" type = "MenuDTO"> <!-- 설정 파일에서 typeAlias 설정을 통해 풀클래스 명이 아니어도 괜찮게 만듬 -->
        <!-- resultMap의 column 속성은 ResultSet의 컬럼명을 써야 한다.(컬럼명 또는 별칭)-->
        <!-- 매핑은 필요한 것만 매핑해도 문제없이 객체에 담겨 반환된다.-->
        <id property = "menuCode" column = "MENU_CODE"/> <!-- PK만 id로 지정 result로 해도 상관이 없지만, id로 하는게 검색 속도가 빠르다고 함 -->
        <result property = "menuName" column = "MENU_NAME"/>
        <result property = "menuPrice" column = "MENU_PRICE"/>
        <result property = "categoryCode" column = "CATEGORY_CODE"/>
        <result property = "orderableStatus" column = "ORDERABLE_STATUS"/>
    </resultMap>
    <select id="selectAllMenus" resultMap = "menuResultMap">
        SELECT
               MENU_CODE
             , MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
          FROM TBL_MENU
    <!-- Join문이 복잡해진 경우에는 동일 이름을 table의 별칭으로 구분하지만 resultMap에서는 해당 table 별칭을 모르므로 컬럼 명에 별칭을 붙여줘야 한다 -->
    </select>
    <!--  사용자의 입력값을 활용(parameterType)한 쿼리 (feat. mybatis 홈페이지 '매퍼설정' 참조  -->
    <select id = "selectMenuByMenuCode" resultMap ="menuResultMap" parameterType = "_int">
        SELECT
               MENU_CODE
             , MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
          FROM TBL_MENU
         WHERE MENU_CODE = #{menuCode}  <!-- 제공한 변수명 그대로 사용  -->
                                        <!-- 변수의 타입을 알려야 함 -> parameterType (이 때 공식 사이트에서 자료형 참고) -->
    </select>

    <insert id = "insertMenu" parameterType = "MenuDTO">
        INSERT
          INTO TBL_MENU
        (
          MENU_NAME
        , MENU_PRICE
        , CATEGORY_CODE
        , ORDERABLE_STATUS
        )
        VALUES
        (
          #{menuName}
        , #{menuPrice}
        , #{categoryCode}
        , 'Y'
        )
    </insert>

    <update id = "updateMenu" parameterType = "MenuDTO">
        UPDATE
               TBL_MENU
           SET MENU_NAME = #{menuName}
             , MENU_PRICE = #{menuPrice}
         WHERE MENU_CODE = #{menuCode}
    </update>

    <delete id = "deleteMenu" parameterType = "_int">
        DELETE
          FROM TBL_MENU
         WHERE MENU_CODE = #{menuCode}
    </delete>

</mapper>